.navbar {
    
    
    display: grid;
    grid-template-columns: auto auto;
    
  
    
}
.navbar-left.dropdown a{
    color: black;
}
.navbar-left a{
    color: black;
}
.navbar-right a{
    color: black;
}





.dropdown a{
    font-weight: bold;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color:white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    min-width: 200px;
    z-index: 1;
}
.dropdown-content a {
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.dropdown-content a:hover {
    background-color: #c4cba3;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.navbar-left {
    position: sticky;
    text-decoration: none;
    
    
    margin: 5px;
    display: flex;
    font-size: smaller;
    
}
.dropdown-content {
    display: none;
}
.logo {
    height: 50px;
    width: 100px;
}
h4{ margin-top: 15px;
    margin: 15px;
    
}
a{
    text-decoration: none;
}
h4:hover{
    background-color: gold;
    
    
}

          
.navbar-right {
    position: sticky;
    text-decoration: none;
    
    
    margin: 5px;
    display: flex;
    font-size: smaller;
    
}
.navbar-left .dropdown a{
    color: black;
}



.navbar-right {
    position: fixed;
    right: 0px;
    display: flex;
    justify-content: end;
    white-space: 20px;
    margin: 5px;
}
.zero {
    height: 25px;
    width: 25px;
    border: 2px solid gold;
    border-radius: 100%;
    background-color: gold;
    line-height: 25px;
    text-align: center;
}





.main{
    margin: 50px;
    
}
body{
    background-color: whitesmoke;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 5px;
   
}
.grid-items {
    margin: 10px;
    background-color: white;
   
}
.images{
    height: 300px;
    width: 500px;
}
.image {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 50%;
}
.container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
   
}



.body{
    font-family: arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    

}
.pagination{
    
    
    display: flex;
}
.page{
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    transition: background-color 0.3s,color 0.3s;
}
.page:hover{
    background-color:black;
}




footer{

    background-color:gainsboro;
    padding: 30px;
    margin: 0px;

    
}
.footer-bottom{
    display: grid;
    grid-template-columns: auto auto auto;
    
}

.footer-right {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    
    
}
.copy-right {
    height: 15px;
    width: 15px;
    border: 1px solid black;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
    margin-top: 15px;
}
.copy{
    display: grid;
    grid-template-columns: auto auto;
}

.footer-items {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    
}
.footer-left {

    width: 50%;
}
.footer-heading{
    text-align: center;
}
.logo2{
    height: 50px;
    width: 100px;
}
.footers {
    display: flex;
    width: 500px;
    
    
}
.footers-1 {
    margin: 30px;
}